.about{
  background-color: black;
  color: white;
  /* height: 70vh; */
}

.about-tittle{
  text-align: center;
  font-size: 45px;
  padding: 10px 0px;
}

a{
  color: rgb(199 71 72);
}

.about-text{
  margin: 0 auto;
  text-align: justify;
  max-width: 75%;
  margin-top: 10px;
  padding-bottom: 35px;
}


/* @media (max-width: 952px)
@media (max-width: 858px)
@media (max-width: 653px) */
